.main-container {
    width: 80rem;
    background-image: url("../../assets/images/bg-7.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.create-container {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 4rem;
}

table {
    border-collapse: collapse;
    font-size: 1.2rem;
}

td, th {
    padding: 2px;
    border: dashed 1px;
    text-align: center;
    margin: 2px;
}

button {
    margin: 2px;
}