<section class="main-container">
  <div class="create-container">
    <h2>Criar Nova Reserva</h2>
    <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()" class="form">
      <div class="elem-group">
        <label for="nomeHospede">Nome do Hóspede:</label>
        <input type="text" id="nomeHospede" formControlName="nomeHospede" class="form-input">
      </div>
      <div class="date-inputs">
        <div class="elem-group inlined">
          <label for="dataInicio">Data de Início:</label>
          <input type="date" id="dataInicio" formControlName="dataInicio" class="form-input">
        </div>
        <div class="elem-group inlined">
          <label for="dataFim">Data de Fim:</label>
          <input type="date" id="dataFim" formControlName="dataFim" class="form-input">
        </div>
      </div>
      <div class="elem-group">
        <label for="quantidadePessoas">Quantidade de Pessoas:</label>
        <input type="number" id="quantidadePessoas" formControlName="quantidadePessoas" min="1" class="form-input">
      </div>
      <button type="submit" class="form-button">Criar Reserva</button>
    </form> 
  </div>
</section>
  
