.main-container {
    width: 80rem;
    background-image: url("../../assets/images/bg-4.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.create-container {
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    padding: 4rem;
}

.form-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.elem-group {
    margin-bottom: 15px;
}

.inlined {
    display: flex;
    justify-content: space-between;
}

.form-input {
    display: block;
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.date-inputs {
    display: flex;
}

.form-button {
    background-color: #007bff;
    width: 10rem;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    font-size: larger;
    border-radius: 3px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}
  